

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("akshay-nanavati-Zq6HerrBPEs-unsplash.jpg");

  /* Set a specific height */
  height: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
h1{
  font-style: bold;
  font-family:Lucida Console;
  text-shadow: 3px 2px red;
  color:white;
}
.studentName{
  
  
  text-align: center;
font-style: bold;
  font-family:Lucida Console;
  font-size:2vw;
  color:blue
  

}
.textarea{
  margin-left:100px;
  width: 1100px;
  height: 150px;;
  background-color: white;
  text-decoration-color: black;
  text-align:center;
  font-size:5vw

}